<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        .container {
            border: 1px solid gray;
            width: 90%;
            margin: 0 auto;
            margin: 10px 5px;
            padding: 20px;
        }

        .text-center {
            text-align: center;
        }

    </style>
</head>

<body>

    <div class="container">
        <h3>Olá ${nome}, criamos uma nova senha para você</h3>
        <span>Nova senha:<b>${senha}</b></span>
        <h6 class="text-center">deliveryapp@gmail.com</h6>
    </div>

</body>
</html>